.catalogo-container {
  background-color: #eae3f5 !important;
  padding: 10px 20px;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 100px;
}

@media (max-width: 800px) {
  .catalogo-container {
    padding: 0;
    margin: 50px;
  }
}

.loading-container {
  text-align: center;
  padding: 50px;
  background-color: #eae3f5;
}

.catalogo-container h1 {
  color: #a6d2e4;
  text-align: center;
  margin-bottom: 40px;
}

.productos-grid {
  display: grid;
  grid-template-columns: repeat(3, 3fr);
  gap: 37px;

  padding: 20px;
  justify-content: center;
  perspective: 1000px; /* Perspectiva 3D para evitar saltos bruscos */
}

@media (max-width: 768px) {
  .productos-grid {
    grid-template-columns: repeat(1, 1fr);
  }
}

.producto-card h3 {
  color: #a3caf6;
  font-size: 1.4rem;
  margin-top: 15px;
}

.producto-card p {
  color: #555;
}

.producto-card .precio {
  font-weight: bold;
  font-size: 1.3rem;
  color: #a37ad5;
  margin: 10px 0;
}

.producto-card button {
  background-color: #4a148c;
  color: white;
  border: none;
  border-radius: 20px;
  padding: 10px 20px;
  font-weight: bold;
  cursor: pointer;
  transition: background 0.3s;
}

.producto-card button:hover {
  background-color: #6a1b9a;
}

.btn-filtro {
  background-color: white;
  border: 2px solid #4a148c;
  color: #4a148c;
  padding: 8px 20px;
  border-radius: 20px;
  margin: 0 5px 30px 5px;
  cursor: pointer;
  font-weight: bold;
}

/* Efecto hover: se adelanta y se ilumina en blanco alrededor */
.producto-card:hover {
  transform: translateY(-8px) scale(1.02);
  box-shadow:
    0 10px 25px rgba(255, 255, 255, 0.9),
    0 0 18px rgba(56, 9, 150, 0.85);
  z-index: 5; /* Eleva la tarjeta sobre las demás al pasar el ratón */
}
.paginacion-container {
  display: flex;
  gap: 10px;
  margin-top: 30px;
  justify-content: center;
}

.btn-pagina {
  background-color: white;
  border: 1px solid #4a148c;
  color: #4a148c;
  padding: 8px 14px;
  border-radius: 8px;
  cursor: pointer;
  font-weight: bold;
  transition: all 0.2s ease;
}

.btn-pagina:hover,
.btn-pagina.activo {
  background-color: #4a148c;
  color: white;
}
