.inicio-page {
  display: flex;
  align-items: center;
  flex-direction: column;
  width: 100%;
  min-height: auto;
  padding: 20px 0;
}
.frase-motivadora {
  font-family: "Pacifico", cursive;
  font-size: 2.5rem;
  color: #5d4037;
  text-align: center;
  width: 100%;
  text-shadow: 1px 1px 3px rgba(0, 0, 0, 0.1);
}
.Inicio-page-container {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  width: 100%;
}

.carrusel-recogido-container {
  max-width: 1000px;
  margin: 0 auto;
  padding: 0 20px;
  width: 100%;
  overflow: visible;
}

.img-postres-glow {
  width: 100%;
  max-width: 450px;
  height: 350px;
  object-fit: cover;
  border-radius: 20px;
  box-shadow: 0 0 30px 10px rgba(255, 255, 255, 0.7);
  display: block;
}

.img-postres-glow:hover {
  transform: scale(1.02);
  box-shadow: 0 0 35px 12px rgba(255, 255, 255, 1);
}
.swiper-pagination-bullet-active {
  background: #a29bfe !important;
}
.swiper-slide {
  padding: 40px 0;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: all 0.5 ease;
  transform: scale(0.8);
  opacity: 0.4;
}

.swiper-slide-active {
  transform: scale(1.2);
  opacity: 1;
  z-index: 10;
}
